body {
    margin: 0;
    padding: 0;
    background: url("https://www.iciciprulife.com/content/icici-prudential-life-insurance/testing/tools-and-calculators/bmi_assets/images/calcBG.svg") repeat-y;
    background-size: cover;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    box-sizing: border-box;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
}

.heading{
    text-align: center;
    /* border: 2px solid; */
    color: #0a0a59;
    margin: 0px;
    padding-top: 0px;
}

.para{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -18px;
    /* border: 2px solid; */
}

.introtobmi{
    border: 1px solid #ae2b30;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 83%;
    margin: 40px auto;
    border-radius: 5px;
}

.importance{
    /* font-family: "Afacad Flux", sans-serif; */
    border: 1px solid #ae2b30;
    background-color: white;
    width: 83%;
    padding: 8px 20px;
    margin: 1px auto;
    border-radius: 5px;
}

.importance ul{
    line-height: 1;
}

.health_risks{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.common img{
    width: 100px;
}

.health_risks h2{
    margin-top: 8px;

}

.overweight p{
    margin-top: 6px;
}

.common{
    border: 1px solid #ae2b30;
    background-color: white;
    padding: 5px 20px;
    width: 38%;
    border-radius: 5px;
}

.introtobmi {
    animation-name: intro-anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes intro-anim {
    from{
        position: relative;
        opacity: 0;
    }

    to{
        position: relative;
        opacity: 1;
    }
}

.heading{
    animation-name: heading-anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes heading-anim {
    from{
        position: relative;
        bottom: 30px;
        opacity: 0;
    }

    to{
        position: relative;
        bottom: 0px;
        opacity: 1;
    }
}

.importance {
    animation-name: health-risk-anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes health-risk-anim {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.overweight{
    animation-name: overweight-anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes overweight-anim {
    from{
        position: relative;
        right: 125px;
        opacity: 0;
    }

    to{
        position: relative;
        opacity: 1;
        right: 0px;
    }
}

.underweight{
    animation-name: underweight-anim;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes underweight-anim {
    from{
        position: relative;
        right: -50px;
        opacity: 0;
    }

    to{
        position: relative;
        opacity: 1;
        right: 0px;
    }
}